<div class="row">
    <div class="col-3">
        <div class="bg-success" *ngIf="div1Visiable ">
            Div 1
        </div>
    </div>
    <div class="col-3">
        <div class="bg-primary" *ngIf="number1 == number2">
            Div 2
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-3">        
        <div class="text-center">
            <button class="btn btn-success" (click)="hideDiv1()">Hide</button>
            <button class="btn btn-danger ms-3" (click)="showDiv1()">Show</button>
        </div>
    </div>
    <div class="col-3">        
        <div class="text-center">
            <input type="text" [(ngModel)]="number1">
            <input type="text" [(ngModel)]="number2">
        </div>
    </div>
    <div class="col-2">        
       {{number1 == number2}}
    </div>
</div>