<div class="row">
    <div class="col-6">
        1. Interpolation
        <p>Firstname => {{firstName}}</p>
        <div>{{rollNo}}</div>
        <p>{{isActive}}</p>
    </div>
    <div class="col-6">
        Property Binding
        <input type="text" id="firstName" name="firstName" [value]="firstName">
        <input type="text" [placeholder]="myPlaceHolder">
        <div [className]="div1ClassName">I am best</div>
    </div>

</div>
<div class="row">
    <div class="col-3">
        Event Binding
        <button class="btn btn-success" (click)="showWelcomeMessage()">Click me</button>
    </div>
    <div class="col-3">
        <select name="cityChange" class="form-control" (change)="onCityChange($event)">
            <option value="Kanpur">Kanpur</option>
            <option value="Rampur">Rampur</option>
            <option value="Vijaykheda">Vijaykheda</option>
            <option value="Delhi">Delhi</option>
            <option value="Nagpur">Nagpur</option>
        </select>
    </div>
    <div class="3">
        <input type="text" [(ngModel)]="firstName">
    </div>
    <div class="col-3">
        <select name="cityChange" class="form-control" [(ngModel)]="selectedCity">
            <option value="Kanpur">Kanpur</option>
            <option value="Rampur">Rampur</option>
            <option value="Vijaykheda">Vijaykheda</option>
            <option value="Delhi">Delhi</option>
            <option value="Nagpur">Nagpur</option>
        </select> -- {{selectedCity}}-- 
    </div>
</div>