<div class="row">
  <!-- <h2 class="mb-3 text-center">Customer Management</h2> -->
  <div class="table-container col-md-12 table-container">
    <div class="card bg-success">
      <div class="row text-center">
        <h4>Customer List</h4>
      </div>
    </div>
    <!-- Loader -->
    <div *ngIf="isLoading" class="text-center my-3">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <!-- Table -->
    <div class="card-body" *ngIf="!isLoading">
      <div class="row mt-3 mb-2">
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="searchText"
            placeholder="Search by Name or Email Id..." />
        </div>
      </div>
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Sl No.</th>
            <th>User Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Region</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (item of filteredUsers; track $index){
          <tr>
            <td>{{ $index + 1 + ((currentPage - 1) * pageSize) }}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.firstname }} {{ item.lastname }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.addresses?.[0]?.telephone || '' }}</td>
            <td>{{ getState(item.addresses) }}</td>
            <td class="d-flex">
              <button class="btn btn-primary me-2" (click)="showCustomerDetails(item)">
                <i class="fa-solid fa-eye"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
        
      </table>
      <div class="d-flex justify-content-center mt-3">
        <nav *ngIf="totalPages > 1">
          <ul class="pagination">
            <!-- First -->
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="goToPage(1)">First</a>
            </li>

            <!-- Previous -->
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
            </li>

            <!-- Page Info -->
            <li class="page-item disabled">
              <a class="page-link">Page {{ currentPage }} of {{ totalPages }}</a>
            </li>

            <!-- Next -->
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
            </li>

            <!-- Last -->
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="goToPage(totalPages)">Last</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Side Panel (User Form) -->
<app-customer-detail *ngIf="selectedCustomer" [customer]="selectedCustomer"
  (closePanel)="closeDetails()"></app-customer-detail>