<div class="row mt-4">
    <h2 class="mb-3 text-center">User Reactive Management</h2>

    <div [class]="isSideFormVisible ? 'col-md-7 table-container' : 'col-md-12 table-container'">
        <div class="card bg-success">
            <div class="row p-3">
                <div class="col-6">
                    <h4>User List</h4>
                </div>
                <div class="col-6 text-end">
                    <button type="button" class="btn btn-primary" (click)="toggleSideForm()">Add New User</button>
                </div>
            </div>
        </div>
        <!-- Loader -->
        <div *ngIf="isLoading" class="text-center my-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <!-- Table -->
        <div class="card-body" *ngIf="!isLoading">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Full Name</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of userList; track $index){
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.emailId}}</td>
                        <td>{{item.fullName}}</td>
                        <td>{{item.role}}</td>
                        <td class="d-flex">
                            <button class="btn btn-primary me-2" (click)="editUser(item)">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button class="btn btn-danger" (click)="OndeleteUser(item.userId)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Side Panel (User Form) -->
     @if(isSideFormVisible){
        <div class="col-md-5 side-panel" id="sidePanel">
            <div class="card">
                <div class="card-header bg-success">
                    <div class="row p-3">
                    <div class="col-6">
                        <h4 id="formTitle">Add User</h4>
                    </div>
                    <div class="col-6 text-end">
                        <button type="button" class="btn btn-warning" (click)="toggleSideForm()">Close</button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form id="userForm" [formGroup]="userForm">
                        <div class="mb-3">
                            <label for="userName" class="form-label">User Name</label>
                            <input type="text" formControlName="userName" class="form-control"
                                id="userName" required>
                            <div class="text-danger">
                                @if(userForm.get('userName')?.invalid && userForm.get('userName')?.touched || userForm.get('userName')?.dirty){
                                    @if(userForm.get('userName')?.errors?.['required']){
                                        <span>This field is required</span>
                                    }
                                    @if(userForm.get('userName')?.errors?.['minlength']){
                                        <span> Minimum length should be 5</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="emailId" class="form-label">Email</label>
                            <input type="email" formControlName="emailId" class="form-control"
                                id="emailId" required>
                            <div class="text-danger">
                                @if(userForm.get('emailId')?.invalid && userForm.get('emailId')?.touched || userForm.get('emailId')?.dirty){
                                    @if(userForm.get('emailId')?.errors?.['required']){
                                        <span>This field is required</span>
                                    }
                                    @if(userForm.get('emailId')?.errors?.['pattern']){
                                        <span> Enter valid email</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Full Name</label>
                            <input type="text" formControlName="fullName" class="form-control"
                                id="fullName">
                            <div class="text-danger">
                                @if(userForm.get('fullName')?.invalid && userForm.get('fullName')?.touched || userForm.get('fullName')?.dirty){
                                    @if(userForm.get('fullName')?.errors?.['required']){
                                        <span>This field is required</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="role" class="form-label">Role</label>
                            <input type="text" formControlName="role" class="form-control" id="role">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" formControlName="password" class="form-control"
                                id="password">
                            <div class="text-danger">
                                @if(userForm.get('password')?.invalid && userForm.get('password')?.touched || userForm.get('password')?.dirty){
                                    @if(userForm.get('password')?.errors?.['required']){
                                        <span>This field is required</span>
                                    }
                                    @if(userForm.get('password')?.errors?.['minlength']){
                                        <span> Minimum length should be 5</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="mt-3">
                            <button 
                                type="submit" 
                                class="btn btn-success" 
                                [ngClass]="{ 'invisible': !isSaveButtonVisible }" 
                                (click)="onSaveUser()">Save
                            </button>                        
                            <button 
                                type="submit" 
                                class="btn btn-warning mx-2" 
                                [ngClass]="{ 'invisible': !isUpdateButtonVisible }" 
                                (click)="onUpdteUser()">Update
                            </button>                        
                            <button type="reset" class="btn btn-danger mx-2">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     }
   
</div>