<div class="side-panel slide-in">
  <!-- Top Strip -->
  <div class="top-strip">
    <span>{{ customer.firstname }} {{ customer.lastname }} → {{ customer.email }}</span>
    <button class="btn btn-warning btn-sm" (click)="close()">Close Panel</button>
  </div>

  <!-- Content Area -->
  <div class="content-wrapper">
    <!-- Sidebar Menu -->
    <div class="menu">
      <button [ngClass]="{ 'active': activeMenu === null }" (click)="activeMenu = null">Customer Info</button>
      <button [ngClass]="{ 'active': activeMenu === 'address' }" (click)="activeMenu = 'address'">Address</button>
      <button [ngClass]="{ 'active': activeMenu === 'medical' }" (click)="activeMenu = 'medical'">Medical Info</button>
      <button [ngClass]="{ 'active': activeMenu === 'orders' }" (click)="activeMenu = 'orders'">Orders</button>
      <button [ngClass]="{ 'active': activeMenu === 'prescriptions' }" (click)="activeMenu = 'prescriptions'">Prescriptions</button>
    </div>
    <!-- Right Content -->
    <div class="inner-content">
      <ng-container [ngSwitch]="activeMenu">
        <app-customer-info *ngSwitchCase="null" [customerInfo]="customer" (close)="activeMenu = null"></app-customer-info>
        <app-address *ngSwitchCase="'address'" [address]="customer.addresses[0]" (close)="activeMenu = null"></app-address>        
        <app-medical-info *ngSwitchCase="'medical'" [medicalInfo]="null" (close)="activeMenu = null"></app-medical-info>
        <app-orders *ngSwitchCase="'orders'" [orders]="null" (close)="activeMenu = null"></app-orders>
        <app-prescriptions *ngSwitchCase="'prescriptions'" [prescriptionsInfo]="null" (close)="activeMenu = null"></app-prescriptions>
      </ng-container>
    </div>
  </div>
</div>