<div class="side-panel slide-in">
    <div class="card">
      <div class="card-header bg-success d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Customer Details</h5>
        <button class="btn btn-warning btn-sm" (click)="close()">Close</button>
      </div>
      <div class="card-body" *ngIf="customer">
        <p><strong>User ID:</strong> {{ customer.id }}</p>
        <p><strong>Email:</strong> {{ customer.email }}</p>
        <p><strong>Full Name:</strong> {{ customer.firstname }} {{ customer.lastname }}</p>
      </div>
    </div>
  </div>
  